<div class="row">
    <div class="col-sm-4">
        <h4>Sign in</h4>
        <form #offeringForm="ngForm" (ngSubmit)="Submit(offeringForm.value)">
            <h6>Username</h6>
            <input type="text" class="form-control" name="Username" ngModel #nameField="ngModel">
            <h6>Password</h6>
            <input type="text" class="form-control" name="Password" ngModel #nameField="ngModel">
            <br>
            <button class="btn-submit" type="submit">Login</button>
        </form>
    </div>
    <a class="navbar-brand" href="new_user_page">New User?</a>
</div>